<html>
	<head>
    <!-- CSS -->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" /> -->
    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
    <script type="text/javascript" src="/js/style.js"></script>
    <!-- Template: https://www.w3schools.com/w3css/tryw3css_templates_interior_design.htm -->

    <style>
        .rightt {
            float: right;
            vertical-align: text-top;
            margin: 0 auto;
            width: 50%;
        }
    </style>
	</head>
	<body>

    <!-- Sidebar/menu -->
    
    <nav class="w3-sidebar w3-red w3-collapse w3-top w3-large w3-padding" style="z-index:3;width:300px;font-weight:bold;"
      id="mySidebar"><br>
      <a href="javascript:void(0)" onclick="w3_close()" class="w3-button w3-hide-large w3-display-topleft" style="width:100%;font-size:22px">Close
        Menu</a>
      <div class="w3-container">
        <h3 class="w3-padding-64"><b>Fake News<br>Database</b></h3>
      </div>
      <div class="w3-bar-block">
        <a href="/" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Home</a>
        <a href="/fakenews/insert_form" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Insert fake news</a>
        <a href="/fakenews/list" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Show fake news</a>
        <a href="/file/insert_form" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Insert file</a>
        <a href="/file/list" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Show files</a>
        <!--<a href="/user/insert_form" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Create user</a>
        <a href="/user/list" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Show users</a> -->
        <a href="/penalty/insert_form" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Insert penalties</a>
        <a href="/penalty/list" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Show penalties</a>
      </div>
    </nav>
	
    <div class="w3-main" style="margin-left:340px;margin-right:40px">
      <h1 class="w3-jumbo">ALL FILES</h1>
      <%for(var i = 0; i < data.files.length; i++){%>
        <tr>
          <!-- Display all data-->
          <td>Name : <%= data.files[i]._file_name %></td><br>
          <td>Extensão  : <%= data.files[i]._extension_name %></td><br>
          <td>Fake news title  : <%= data.files[i]._fake_news_title %></td><br>
          
          <!-- Check if extension is audio and display audio tag -->
          <%if(data.files[i]._extension_name == 'audio/mpeg'){%>
            <audio src="/uploads/<%= data.files[i]._file_name %>" controls>
              <p>Seu navegador não suporta o elemento audio </p>
            </audio>

          <!-- Check if extension is video and display video tag -->
          <%} else if (data.files[i]._extension_name == 'video/mp4'){%>
            <video width="320" height="240" controls>
              <source src="/uploads/<%= data.files[i]._file_name %>" type="video/mp4">
            </video>

          <!-- Only possibility is image, so display image tag -->
          <%} else{%>
            <img src="/uploads/<%= data.files[i]._file_name %>" height="300" width="33%" alt = "/uploads/<%= data.files[i]._file_name %>">
          <% } %>

          <!-- Update buttom-->
          <div id="update_file<%= data.files[i]._file_id %>" class = "popStyle">
            <div class="popupBoxWrapper">
              <div class="popupBoxContent">
              
                <!-- Update form-->
                <form class="fileupload" action="edit" method="post" enctype="multipart/form-data">

                  <!-- Exit button -->
                  <!-- Exit button -->
                  <button type="button" class="close" aria-label="Close" href="javascript:void(0)" onclick="toggle_visibility('update_file<%= data.files[i]._file_id %>');">
                    <a style="color:  red; font-size: 40px;" >&times;</a>
                  </button>
                  
                  <h1>Update</h1>

                  <!-- invisble input with file id -->
                  <input type="text" name="id" value = "<%= data.files[i]._file_id %>" style = "display:none;" >

                  <!-- name input to write file name -->
                  <h3> Name : </h3><input type="text" name="name" placeholder="<%= data.files[i]._file_name %>"><br>

                  <!-- file input to upload file -->
                  <h3> File : </h3><input type="file" name="upfile" value="" placeholder=""><br><br>

                  <select name="fake_news_id">
                  
                      <% for(var j = 0; j < data.all_fake_news.length; j++) {%>
                  
                          <%if(data.all_fake_news[j][1] == data.files[i]._fake_news_title){%>
                  
                              <option value="<%=data.all_fake_news[j][0]%>" selected>
                              <%=data.all_fake_news[j][1]%>%>
                  
                          <%} else{%>
                  
                              <option value="<%=data.all_fake_news[j][0]%>">
                              <%=data.all_fake_news[j][1]%>%>
                  
                          <%}%>
                  
                      <%}%>
                  </select> <br><br>

                  <!-- submit button  -->
                  <input type="submit" value="Enviar" class="w3-button w3-green "> 
                </form>

                  
                
              </div>
            </div>
          </div>
          
          <div class="options_align" style=" padding-top: 5px;">
          
            <!-- Update button -->
            <div id="wrapper">
              <p><a href="javascript:void(0)" onclick="toggle_visibility('update_file<%= data.files[i]._file_id %>');" class="w3-button w3-green">Edit</a></p>
            </div>

            <div class="button_spacing rightt"  id="wrapper">
              <form action="delete" method="post" enctype="multipart/form-data">
                <input type="text" name="id" value = "<%= data.files[i]._file_id %>" style = "display:none;" >
                <p><input type="submit" value="Delete" class="w3-button w3-red "></p>
              </form>
            </div>            
          </div>

          <br>
          <br>
        </tr>
      <%}%>
    </div>
</html>