<html>
	<head>
		<link rel=¨stylesheet¨ type=¨text/css¨ href=¨../../../public/assets/css/dropdown.css¨>
		<link rel=¨stylesheet¨ type=¨text/css¨ href=¨../../../public/assets/js/dropdown.js¨>

		<script type="text/javascript">
			<!--
			    function toggle_visibility(id) {
			       var e = document.getElementById(id);
			       	if(e.style.display == 'block')
			        	e.style.display = 'none';
			       	else
			        	e.style.display = 'block';

			    }
			//-->
		</script>
		<style type="text/css">
			.popStyle{
				top: 0; left: 0; position: fixed; width: 100%; height: 120%;
				background-color: rgba(0,0,0,0.7); display: none;"
			}
			.popupBoxWrapper{
				width: 550px; margin: 50px auto; text-align: left;
			}
			.popupBoxContent{
				background-color: #FFF; padding: 15px;
			}
		</style>
	</head>
	<body>


	

		<h1>ALL FILES</h1>
		<%for(var i = 0; i < files.rows.length; i++){%>
			<tr>
				<!-- Display all data-->
				<td>Código : <%= files.rows[i].id %></td><br>
				<td>Name : <%= files.rows[i].name %></td><br>
				<td>Extensão  : <%= files.rows[i].extension %></td><br>
				<td>Fake_news_id  : <%= files.rows[i].fake_news_id %></td><br>
				
				<!-- Check if extension is audio and display audio tag -->
				<%if(files.rows[i].extension == 'audio/mpeg'){%>
					 <audio src="/uploads/<%= files.rows[i].name %>" controls>
					 	<p>Seu navegador não suporta o elemento audio </p>
					 </audio>

				<!-- Check if extension is video and display video tag -->
				<%} else if (files.rows[i].extension == 'video/mp4'){%>
					<video width="320" height="240" controls>
					  <source src="/uploads/<%= files.rows[i].name %>" type="video/mp4">
					</video>

				<!-- Only possibility is image, so display image tag -->
				<%} else{%>
					<img src="/uploads/<%= files.rows[i].name %>" height="100" width="150" alt = "/uploads/<%= files.rows[i].name %>">
				<% } %>

				<!-- Update buttom-->
				<div id="update_fake_news_<%= files.rows[i].id %>" class = "popStyle">
					<div class="popupBoxWrapper">
						<div class="popupBoxContent">
						
							<!-- Update form-->
							<form class="fileupload" action="edit/file" method="post" enctype="multipart/form-data">
								<h1>Update here (leave it blank if have some data that you don't want to update)</h1>

								<!-- invisble input with file id -->
								<input type="text" name="id" value = "<%= files.rows[i].id %>" style = "display:none;" >

								<!-- name input to write file name -->
								<h3> Name : </h3><input type="text" name="name" placeholder="<%= files.rows[i].name %>"><br>

								<!-- fake news id input to write fake news id -->
								<h3> Fake news id : </h3><input type="text" name="fake_news_id" placeholder="<%= files.rows[i].fake_news_id %>"><br>
								
								<!-- file input to upload file -->
								<h3> File : </h3><input type="file" name="upfile" value="" placeholder=""><br><br>

								<h3> Delete : </h3><input type="checkbox" name="delete" value="" placeholder=""><br><br>

								<!-- submit button  -->
								<input type="submit"/>
							</form>

								
							<!-- Exit button -->
							<p><a href="javascript:void(0)" onclick="toggle_visibility('update_fake_news_<%= files.rows[i].id %>');">Exit</a></p>
						</div>
					</div>
				</div>
				
				<!-- Update button -->
				<div id="wrapper">
					<p><a href="javascript:void(0)" onclick="toggle_visibility('update_fake_news_<%= files.rows[i].id %>');">Edit</a></p>
				</div>

				<br>
				<br>
			</tr>
		<%}%>
</html>