<html>

<head>
  <!-- CSS -->
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
  <link rel="stylesheet" type="text/css" href="/css/style.css" />
  <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
  <!-- Template: https://www.w3schools.com/w3css/tryw3css_templates_interior_design.htm -->
  <link rel=¨stylesheet¨ type=¨text/css¨ href=¨../../../public/assets/css/dropdown.css¨> <!-- JS -->
  <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>
  <script src="semantic/dist/semantic.min.js"></script>
  <script type="text/javascript" src="/js/style.js"></script>
  <link rel=¨stylesheet¨ type=¨text/css¨ href=¨../../../public/assets/js/dropdown.js¨> </head> <body>

  <!-- Sidebar/menu -->
  <nav class="w3-sidebar w3-red w3-collapse w3-top w3-large w3-padding" style="z-index:3;width:300px;font-weight:bold;"
    id="mySidebar"><br>
    <a href="javascript:void(0)" onclick="w3_close()" class="w3-button w3-hide-large w3-display-topleft" style="width:100%;font-size:22px">Close
      Menu</a>
    <div class="w3-container">
      <h3 class="w3-padding-64"><b>Fake News<br>Database</b></h3>
    </div>
    <div class="w3-bar-block">
      <a href="#" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Home</a>
      <a href="/fakenews/insert" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Create fake news</a>
      <a href="/fakenews/list" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Show fake news</a>
      <a href="/file/insert" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Insert file</a>
      <a href="/file/list" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Show files</a>
      <a href="/user/insert" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Create user</a>
      <a href="/user/list" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Show users</a>
      <a href="/penalty/list" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Show penalties</a>
      <a href="/penalty/insert" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Insert penalties</a>
    </div>
  </nav>



  <div class="w3-main" style="margin-left:340px;margin-right:40px">
    <h1 class="w3-jumbo">Insert a penalty</h1>
    

        <form class="fileupload" action="upload" method="post" enctype="multipart/form-data">
          <div class="w3-half">
        
        
            <!-- fake news content -->
            <h1> Amount : </h1><input type="number" name="amount"><br>
        
            <!-- company that published fake news -->
            <h1> Company Name : </h1><br>
        
            <select name="company">
              <% for(var i = 0; i < data.all_company.length; i++) {%>
              <option value="<%=data.all_company[i][0]%>">
                <%=data.all_company[i][1]%>
              </option>
              <%}%>
            </select>

            <!-- penalty type of the fake news -->
            <h1> Penalty Type Name : </h1><br>

            <select name="penalty_type">
              <% for(var i = 0; i < data.all_penalty_type.length; i++) {%>
              <option value="<%=data.all_penalty_type[i][0]%>">
                <%=data.all_penalty_type[i][1]%>
              </option>
              <%}%>
            </select>

            
            <!-- fake news -->
            <h1> Fake News Title: </h1><br>

            <select name="fake_news">
              <% for(var i = 0; i < data.all_fake_news.length; i++) {%>
              <option value="<%=data.all_fake_news[i][0]%>">
                <%=data.all_fake_news[i][1]%>
              </option>
              <%}%>
            </select><br><br>
        
          
          <!-- submit button  -->
          <input type="submit" />
        
        </form>



  </div>
  </body>

</html>