<html>
	<head>
    <!-- CSS -->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <!-- Template: https://www.w3schools.com/w3css/tryw3css_templates_interior_design.htm -->
		<link rel=¨stylesheet¨ type=¨text/css¨ href=¨../../../public/assets/css/dropdown.css¨>
    
    <!-- JS -->
    <script type="text/javascript" src="/js/style.js"></script>
    <link rel=¨stylesheet¨ type=¨text/css¨ href=¨../../../public/assets/js/dropdown.js¨>
	</head>
	<body>

    <!-- Sidebar/menu -->
    <nav class="w3-sidebar w3-red w3-collapse w3-top w3-large w3-padding" style="z-index:3;width:300px;font-weight:bold;"
      id="mySidebar"><br>
      <a href="javascript:void(0)" onclick="w3_close()" class="w3-button w3-hide-large w3-display-topleft" style="width:100%;font-size:22px">Close
        Menu</a>
      <div class="w3-container">
        <h3 class="w3-padding-64"><b>Fake News<br>Database</b></h3>
      </div>
      <div class="w3-bar-block">
        <a href="#" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Home</a>
        <a href="/fakenews/insert" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Create fake news</a>
        <a href="/fakenews/list" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Show fake news</a>
        <a href="/file/insert" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Insert file</a>
        <a href="/file/list" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Show files</a>
        <a href="/user/insert" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Create user</a>
        <a href="/user/list" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Show users</a>
      </div>
    </nav>

	

    <div class="w3-main" style="margin-left:340px;margin-right:40px">
      <h1 class="w3-jumbo">ALL NEWS</h1>
      <%for(var i = 0; i < news.length; i++){%>
        <tr>
          <!-- Display all data-->
          <td>Código : <%= news[i]._id %></td><br>
          <td>Title : <%= news[i]._title %></td><br>
          <td>Content  : <%= news[i]._content %></td><br>
          <td>Intention  : <%= news[i]._intention ? "A favor":"Contra" %></td><br>
          <td>Political parties envolved  : <%= news[i]._parties %></td><br>
          <td>Company ID  : <%= news[i]._company %></td><br>
          <td>Government Power ID  : <%= news[i]._government_power %></td><br>
          <td>Fake News type ID  : <%= news[i]._type %></td><br>

          

          <!-- Update buttom-->
          <div id="update_fake_news_<%= news[i]._id %>" class = " popStyle" style = "overflow: auto;" >
            <div class="popupBoxWrapper" >
              <div class="popupBoxContent" >
              
                <!-- Exit button -->
                  <a href="javascript:void(0)" onclick="toggle_visibility('update_fake_news_<%= news[i]._id %>');">Exit</a>

                <!-- Update form-->
                <form class="fileupload" action="edit/fake_news" method="post" enctype="multipart/form-data">
                  <!-- submit button  -->
                  <input type="submit"/>

                  <!-- invisble input with news id -->
                  <input type="text" name="id" value = "<%= news[i]._id %>" style = "display:none;" >

                  <!-- news title input -->
                  <h3> Title : </h3><input type="text" name="title" placeholder="<%= news[i]._title %>"><br>

                  <!-- news content input -->
                  <h3> Content : </h3><input type="text" name="content" placeholder="<%= news[i]._content %>"><br>
                  
                  <!-- news intention input -->
                  <h3> Intention : </h3>
                  
                  <h4> A favor </h4><input type="radio" name="intention"  value="true" >
                  
                  <h4> Contra </h4><input type="radio" name="intention"  value="false" >

                  <!-- news company id input-->
                  <h3> Company ID : </h3><input type="text" name="company_id" placeholder="<%= news[i]._company %>"><br>
                  
                  <!-- news government power id input-->
                  <h3> Government Power ID : </h3><input type="text" name="government_power_id" placeholder="<%= news[i]._government_power %>"><br>

                  <!-- news fake news type id input-->
                  <h3> Fake News type ID : </h3><input type="text" name="fake_news_type_id" placeholder="<%= news[i]._type %>"><br>

                  <h3> Political Parties envolved : </h3>
                  
                  <%for(var j = 0; j < news[i]._parties.length; j++) {%>
                    <h4><%=news[i]._parties[j]%></h4><input type="checkbox" name="parties" value = "<%=news[i]._parties[j]%>" checked>
                  <%}%>

                  <!-- delete button -->
                  <h3> Delete : </h3><input type="checkbox" name="delete"><br><br>

                </form>

                  
                
              </div>
            </div>
          </div>
          
          <!-- Update button -->
          <div id="wrapper">
            <p><a href="javascript:void(0)" onclick="toggle_visibility('update_fake_news_<%= news[i]._id %>');" class="w3-button w3-green">Edit</a></p>
          </div>

          <br>
          <br>
        </tr>
      <%}%>
    </div>
  </body>
</html>