<html>
	<head>
    <!-- CSS -->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
    <!-- JS -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"></script>
    <script src="semantic/dist/semantic.min.js"></script>
    <!-- Template: https://www.w3schools.com/w3css/tryw3css_templates_interior_design.htm -->
	</head>
	<body>

    <!-- Sidebar/menu -->
    
    <nav class="w3-sidebar w3-red w3-collapse w3-top w3-large w3-padding" style="z-index:3;width:300px;font-weight:bold;"
      id="mySidebar"><br>
      <a href="javascript:void(0)" onclick="w3_close()" class="w3-button w3-hide-large w3-display-topleft" style="width:100%;font-size:22px">Close
        Menu</a>
      <div class="w3-container">
        <h3 class="w3-padding-64"><b>Fake News<br>Database</b></h3>
      </div>
      <div class="w3-bar-block">
        <a href="#" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Home</a>
        <a href="/fakenews/insert" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Create fake news</a>
        <a href="/fakenews/list" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Show fake news</a>
        <a href="/file/insert" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Insert file</a>
        <a href="/file/list" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Show files</a>
        <a href="/user/insert" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Create user</a>
        <a href="/user/list" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Show users</a>
        <a href="/penalty/list" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Show penalties</a>
        <a href="/penalty/insert" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Insert penalties</a>

      </div>
    </nav>
    
    <div class="w3-main" style="margin-left:340px;margin-right:40px">
      <div class="w3-row-padding">
        <form class="fileupload" action="upload" method="post" enctype="multipart/form-data">
          <h1 class="w3-jumbo">Fake news</h1>
          <div class="w3-half">

          <!-- fake news title -->
          <h1> Title : </h1><input type="text" name="title"><br>

          <!-- fake news content -->
          <h1> Content : </h1><input type="text" name="content"><br>
          
          <!-- company that published fake news -->
          <h1> Company Name : </h1><br>
          
          <select name = "company" >
            <% for(var i = 0; i < data.company.length; i++) {%>
                <option value="<%=data.company[i]%>"><%=data.company[i]%></option>
            <%}%>
          </select>

          <!-- gorvenment power -->
          <h1> Government Power : </h1><br>

          <select name = "government_power" >
          <% for(var i = 0; i < data.government_power.length; i++) {%>
            <option value="<%=data.government_power[i]%>"><%=data.government_power[i]%></option>
          <%}%>
          </select>

          </div> <!-- Ending half -->
          
          <!-- parties envolved -->
          <h1> Parties envolved : </h1><br>

          <select name = "parties" multiple >
          <% for(var i = 0; i < data.parties.length; i++) {%>
            <option value="<%=data.parties[i]%>"><%=data.parties[i]%></option>
          <%}%>
          </select>

          <!-- fake news type -->
          <h1> Fake news type : </h1><br>

          <select name = "fake_news_type" >
          <% for(var i = 0; i < data.fake_news_type.length; i++) {%>
            <option value="<%=data.fake_news_type[i]%>"><%=data.fake_news_type[i]%></option>
          <%}%>
          </select>

          <!-- gorvenment power -->
          <h1> Intention : </h1><input type="checkbox" name="fake_news_intention" value = "true"><br><br>
        
          
          <!-- submit button  -->
          <input type="submit"/>
        
        </form>

        <h1><a href="/fakenews/list">News List</a></h1>
    
      </div>
    </div>
</html>