<html>
	<head>
		
	</head>
	<body>


		<form class="fileupload" action="upload/fake_news" method="post" enctype="multipart/form-data">

			<h1>Fake news</h1>

			<!-- fake news title -->
			<h1> Title : </h1><input type="text" name="title"><br>

			<!-- fake news content -->
			<h1> Content : </h1><input type="text" name="content"><br>
			
			<!-- company that published fake news -->
			<h1> Company Name : </h1><br>

			<% for(var i = 0; i < data['company'].length; i++) {%>
				
				<h3><%=data['company'][i]%></h3><input type="radio" name = "company" value="<%=data['company'][i]%>" ><br><br>

			<%}%>

			<!-- gorvenment power -->
			<h1> Gorvenment Power : </h1><br>

			<% for(var i = 0; i < data['government_power'].length; i++) {%>
				
				<h3><%=data['government_power'][i]%></h3><input type="radio" name="government_power" value ="<%=data['government_power'][i]%>" ><br><br>

			<%}%>
			
			<!-- parties envolved -->
			<h1> Parties envolved : </h1><br>

			<% for(var i = 0; i < data['parties'].length; i++) {%>
				
				<h3><%=data['parties'][i]%></h3><input type="checkbox" name="parties" value = "<%=data['parties'][i]%>" ><br><br>

			<%}%>

			<!-- fake news type -->
			<h1> Fake news type : </h1><br>

			<% for(var i = 0; i < data['fake_news_type'].length; i++) {%>
				
				<h3><%=data['fake_news_type'][i]%></h3><input type="radio" name="fake_news_type" value = "<%=data['fake_news_type'][i]%>" ><br><br>

			<%}%>
			
			<!-- gorvenment power -->
			<h1> Intention : </h1><input type="checkbox" name="fake_news_intention" ><br><br>
		
			
			<!-- submit button  -->
			<input type="submit"/>
		
		</form>

		<h1><a href="/fakenews/list">News List</a></h1>
</html>